@import "tailwindcss";

@theme {
  --color-green: #09e900;
  --color-ultra-trans: rgba(0, 0, 0, 0.150);
  --color-semi-trans: rgba(0, 0, 0, 0.300);
  --color-heavy-trans: rgba(0, 0, 0, 0.700);
  --color-purple: rgba(139, 56, 204, 1);
  --color-purple-trans: rgba(139, 56, 204, 0.150);
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  form {
    z-index: 999;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: white !important;
  }

  input, textarea {
    background-color: transparent;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 7px;
    padding: 2px;
    padding-left: 8px;
    resize: none;
  }

  input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.45);
  }
}

@layer components {
  .container {
    padding-inline: 208px;
    margin: 0 auto;
  }
  @media (max-width: 800px) {
    .container {
      padding-inline: 60px;
    }
  }
  @media (max-width: 500px) {
    .container {
      padding-inline: 10px;
    }
  }

  .bg {
    background-image: url("/bg19.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999999;
  }

  .reg-input {
    background-color: rgba(0, 0, 0, 0.919);
    z-index: 999;
    font-size: 18px;
    transition: all 0.3s;
  }
  .reg-input::placeholder {
    font-size: 18px;
  }

  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.709);
  }

  .purple-box-shadow {
    -webkit-box-shadow: 0px 0px 8px 8px rgba(139, 56, 204, .7);
    -moz-box-shadow: 0px 0px 8px 8px rgba(139, 56, 204, .7);
    box-shadow: 0px 0px 8px 8px rgba(139, 56, 204, .7);
  }

  .purple-button {
    background: transparent;
  }

  .card-bg {
    background: linear-gradient(129deg, rgba(73, 196, 20, 0) 0%, rgba(136, 62, 197, 0.37) 100%);
  }

  .transition-bg {
    background: rgb(73, 196, 20);
    background: radial-gradient(circle, rgba(73, 196, 20, 0.8029586834733894) 0%, rgba(0, 0, 0, 1) 62%);
  }

  .fadeIn {
    animation: fadeIn 0.3s;
  }

  .image-radius {
    border-radius: 16px 16px 0 0;
  }

  .hr-bg {
    background-image: url("/hr-bg.png");
    background-size: contain;
    z-index: 9999999;
  }

  .card-glow {
    -webkit-box-shadow: 0px 0px 159px 11px rgba(136, 62, 197, 0.1);
    -moz-box-shadow: 0px 0px 159px 11px rgba(136, 62, 197, 0.1);
    box-shadow: 0px 0px 159px 11px rgba(136, 62, 197, 0.1);
  }

  .has-error {
    border: 1px solid red !important;
    border-radius: 7px;
  }

  .error-message {
    font-size: 14px;
    align-self: start;
    padding-left: 5px;
    color: rgba(255, 0, 0, 0.856);
    transition: all 0.3s;
  }

  .active-filter {
    border: 2px solid #09e900;
    box-shadow: 0 0 10px #09e900;
    transition: box-shadow 0.15s ease-in-out;
  }

  .preventCol {
    break-inside: avoid-column;
  }

  @media (max-width: 500px) {
    .bg {
      z-index: 5;
      background-image: none;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .input::placeholder, textarea::placeholder {
      font-size: 15px;
    }
    input, textarea {
      padding: 4px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
